In [12]:
import pandas as pd

metadata = pd.read_csv('data/movies_metadata.csv', low_memory=False)
avg_rating = metadata['vote_average'].mean()
top_vote_count = metadata['vote_count'].quantile(0.9)
top_movies = metadata[metadata['vote_count'] >= top_vote_count]

In [13]:
def weighted_ranking(data, min_vote_count, avg_rating):
    vote_count = data['vote_count']
    rating = data['vote_average']
    return ((vote_count / (vote_count + min_vote_count)) * rating) + ((min_vote_count / (vote_count + min_vote_count)) * avg_rating)

In [14]:
top_movies['score'] = top_movies.apply(weighted_ranking, axis=1, min_vote_count=top_vote_count, avg_rating=avg_rating)

ipykernel_launcher:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [19]:
top_movies = top_movies.sort_values('score', ascending=False)
top_movies[['title', 'vote_average', 'vote_count', 'score']]

                             title  vote_average  vote_count     score
314       The Shawshank Redemption           8.5      8358.0  8.445869
834                  The Godfather           8.5      6024.0  8.425439
10309  Dilwale Dulhania Le Jayenge           9.1       661.0  8.421453
12481              The Dark Knight           8.3     12269.0  8.265477
2843                    Fight Club           8.3      9678.0  8.256385
...                            ...           ...         ...       ...
9710               Son of the Mask           3.6       346.0  4.238168
12911               Disaster Movie           3.1       250.0  4.082715
3471             Battlefield Earth           3.0       259.0  3.999793
11557                   Epic Movie           3.2       334.0  3.983225
13566         Dragonball Evolution           2.9       475.0  3.584903

[4555 rows x 4 columns]